  
<ul>
    <li>
      <a class="active" routerLink='/login'>Uloguj se </a>
    </li>
    <li>
      <a routerLink='/registracijaPoljoprivrednik'> Registracija poljoprivrednika</a>
    </li>
    <li>
      <a routerLink='/registracijaPreduzece'> Registracija preduzeća</a>
    </li>
 
  </ul>
   

<div class="forma">

<br>
<br>
<br>
<br>
 
<form class="formUvod">
    <h4 class="formh4"> 
        <br>ULOGUJ SE</h4>
    <hr class="formhr">
    <table>
        <tr>
            <td class="formtd">
                Korisničko ime:
            </td>
            <td class="formtd">
                <input type="text" name="username" [(ngModel)]='username'>
            </td>
        </tr>
        <tr>
            <td class="formtd">
                Lozinka:
            </td>
            <td class="formtd">
                <input type="password" name="password" [(ngModel)]='password'>
            </td>
        </tr>
        <tr>
            <td class='formtd' colspan="2" align="center">
                <input type="radio" name="tip" value="poljoprivrednik" [(ngModel)]='tip'>poljoprivrednik
                <input type="radio" name="tip" value="preduzece" [(ngModel)]='tip'>preduzeće
                <input type="radio" name="tip" value="admin" [(ngModel)]='tip'>admin
            </td>
        </tr>
       
        <br>
        <tr>
            <td colspan="2" class="formtd">
                <button (click)='login()' class="potvrdi">POTVRDI</button>
            </td>
        </tr>
    </table>
<span class="formtd">

    {{message}}
</span>

</form>


</div>

 